@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: SoDoSans_Bold, Helvetica, sans-serif !important; */
  font-family: 'Roboto', sans-serif;

  text-decoration: none;
  list-style: none;
  letter-spacing: 0.4px;
  scroll-behavior: smooth;

}


body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: #ffffff;
}

body::-webkit-scrollbar-thumb {
  background: var(--btn-color);
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:root {
  --background-color: #00754a;
  --main-background-color: #1e3932;
  --secondary-background-color: #f1f1f1;
  --primary-font-color: #1e3932;
  --secondary-font-color: #f9f9f9;
  --small-font-color: #00754a;

  --btn-color: #00754a;
  --btn-hover-color: #1e3932;


  --primary-font-weight: bold;
  --secondary-weight: 300;

}


h2 {
  margin-bottom: 1em;
  color: var(--primary-font-color);
  font-size: 1.5rem;
  font-weight: 600 !important;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}

h3 {
  text-align: center;
  font-size: 14px;
  /* font-family: SoDoSans_Semibold, Helvetica, sans-serif; */
  font-family: 'Open Sans', sans-serif;
  margin-top: 5px;
  margin-bottom: 1.5rem;
  color: var(--primary-font-color);
}

h4 {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 1.5rem;
  color: var(--small-font-color);
  font-family: var(--secondary-weight);
  font-family: 'Open Sans', sans-serif;
}

h5 {
  color: var(--secondary-background-color);
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 0;
  font-family: 'Open Sans', sans-serif;
}










.container {
  height: auto;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}


.container-fluid {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 10px;
}


.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.d-flex-start {
  display: flex !important;
  align-items: center;
  justify-content: flex-start;
}

.d-flex-justify {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
}

.col-4 {
  width: 40%;
  border: 1px solid red;
  height: auto;
  padding: 12px;
}

.col-2 {
  width: 20%;
  border: 1px solid red;
  height: auto;
  padding: 12px;
}

.p-0 {
  padding: 0 !important;
}

.mt-0 {
  margin-top: 5px !important;
}

.mb-0 {
  margin-bottom: 5px !important;
}

.btn {
  width: 96px;
  height: 32px;
  padding: 0;
  font-size: 12px;
  border-radius: 50px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  font-weight: lighter;
  font-family: SoDoSans_Semibold, Helvetica, sans-serif;
  /* box-shadow: 0 4px 15px #a3a3a3ad; */
}

@media(max-width: 516px) {
  .btn {
    width: 96px;
    height: 32px;
    padding: 0;
    font-size: 12px;
  }

  .container {
    width: 90%;
  }

  h3 {
    font-size: 12px;
  }

  .inner-heading a {
    display: none;
  }
}

.inner-heading a {
  color: var(--btn-color);
  font-size: .8rem;
  cursor: pointer;
  font-weight: bold;
}






/* ------------common css style------------- */
.bg-color {
  background-color: var(--main-background-color);
}







/* ----------------Navbar section start------------------ */
.Navbar {
  /* border: 1px solid red; */
  height: 11vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 1px 6px -2px gray;
  background-color: #fff;
  z-index: 99;
}

.logo_section {
  width: 6%;
  height: 11vh;
  /* border: 1px solid red; */
}

.logo_img img {
  width: 40px;
  height: 40px;
}

.menu_section {
  /* border: 1px solid red; */
  width: 58%;
}

.menu_section ul li {
  width: 16%;
  text-align: center;
  position: relative;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu_section ul li:nth-child(1):after {
  content: "";
  position: absolute;
  left: 49%;
  bottom: 0px;
  width: 40%;
  transform: translate(-50%, 0);
  height: 2px;
  background-color: var(--primary-font-color);

}

.menu_section ul li a {
  font-size: 15px;
  color: var(--primary-font-color);
  font-weight: lighter;

}

.menu_section ul li:nth-child(1) a {
  color: var(--primary-font-color);
  font-weight: var(--primary-font-weight);
}

.search_section {
  width: 30%;
}

.input_section {
  width: 90%;
  position: relative;
  height: 6vh;
}

.input_section img {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translate(-50%, -50%);
}

.input_section input {
  width: 264px;
  height: 100%;
  padding: 11px 0;
  border-radius: 50px;
  border: none;
  /* box-shadow: 0px 2px 8px -4px gray; */
  box-shadow: 0 0 2px #00000012, 0 2px 2px #0000000f, 0 1px 3px #0000001a;
}

.input_section input:focus {
  outline: 1px solid var(--btn-hover-color);
  /* box-shadow: 0px 0px 0px 0px var(--btn-hover-color); */
}

.input_section input[type=text] {
  padding-left: 45px;
}

.input_section input::placeholder {
  font-size: 11px;
  color: rgb(194, 194, 194);
  font-weight: lighter !important;
}

.account {
  width: 6%;
}

.profile {
  float: right;
}

.profile img {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.menu_img {
  display: none;
}

@media(max-width:516px) {
  .menu_section ul li:nth-child(1):after {
    display: none;
  }

  .change_menu {
    display: block;
  }

  .menu_section ul li a {
    font-size: 8px;
  }

  .menu_img {
    display: block;
    /* border: 1px solid red; */
    margin-bottom: 8px;
  }

  .account,
  .search_section,
  .logo_section {
    display: none;
  }

  .resp_cont {
    width: 100%;
  }

  .Navbar {
    /* border: 1px solid red; */
    position: fixed;
    top: 90%;
    height: auto;
    left: 0;
    background-color: #fff;
    z-index: 99;
    border-radius: 10px 10px 0 0;
  }

  .menu_section {
    width: 100%;
  }

  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }

  .resp_menu {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu_section ul li img {
    width: 100%;
    height: 100%;
  }

  .menu_section ul li {
    width: 16%;
    text-align: center;
    position: relative;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
  }

  .menu_icon_change {
    /* border: 1px solid red; */
    margin-top: 1rem;
    margin-bottom: -3.3rem;
    border-radius: 50%;
    background-color: #096;
    display: flex;
    align-items: center;
    width: 65px !important;
    height: 65px !important;
    position: relative;
    justify-content: center;
    transform: translate(1vw, -100%);
  }

}

@media(max-width:769px) {}

/* ----------------Navbar section end------------------ */


/* -------------------Banner section star------------------ */

.res_menu_,
.hero_bg_ {
  display: none;
}


.banner-section {
  height: 12vh;
  margin-top: 4.7rem;
}

.h-20 {
  height: 12vh;
}


@media(max-width:516px) {
  .banner-section h5 {
    font-size: 12px;
    margin-bottom: 0;
  }

  .banner-section {
    margin-top: 0;
    position: fixed;
    top: 25%; left: 0;
    z-index: 99;
  }

  .hero_bg_ {
    display: block;
    height: 25vh;
    background-image: url(../public/assets/image/Welcome_Website_Amar.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    position: sticky;
    top: 0; left: 0;
    z-index: 99;
  }

  .res_menu_ {
    display: block;
    width: 94%;
    margin: 0 auto;
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding-top: 12px;
  }

  .res_menu_ img {
    width: 24px;
    height: 24px;
  }
}

@media(max-width:769px) {}


/* -------------------Banner section star------------------ */



/* -------------------Handcrafted Curations section star------------------ */

.Curations_section {
  height: 42vh;
  width: 82% !important;
}

.inner-heading h2 {
  margin: 2rem 0;
  font-weight: bold !important;
}

.inner_grid_section {
  /* border: 1px solid red; */
}

.inner_grid {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.grid_img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid_img img {
  height: 108px;
  width: 108px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid var(--secondary-background-color);
  cursor: pointer;
}

.grid_img img:hover {
  border: 2px solid var(--background-color);
}


@media(max-width:516px) {
  .grid_img img {
    height: 84px;
    width: 84px;
  }

  .Curations_section {
    height: auto;
    margin-bottom: 2rem;
    margin-top: 18%;
  }
}

@media(max-width:769px) {}


/* -------------------Handcrafted Curations section end------------------ */





/* -------------------Barista Recommends section star------------------ */

.bg-secondary-color {
  background-color: #edebe9;
  position: relative;
  height: auto;
  padding-bottom: 3rem !important;
  /* border: 1px solid  red; */
}

.sec_img {
  position: absolute;
  top: 0;
  right: 0;
}

.sec_img img {
  width: 57px;
  height: 70px;
  object-fit: contain;
}

.inner-slider-grid {
  height: auto;
  margin-bottom: 3rem;
  /* border: 1px solid red; */
  /* position: relative; */
}
.inner-slider-grid{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.arrow {
  background-color: transparent;
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.arrow_right {
  position: absolute;
  top: 42%;
  right: 8%;
}

.arrow_left {
  position: absolute;
  top: 42%;
  left: 8%;
}

.inner-slider-grid {
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  /* border: 1px solid red; */
}

.sec_btn {
  background-color: var(--background-color);
  color: var(--secondary-font-color);
}

.sec_btn:hover {
  color: #fff;
  background-color: #1e3932;
}

.slider-grid {
  flex-wrap: wrap;
  height: 160px;
  padding: 1em 1.5em;
  border-radius: 8px;
  background-color: #fff;
  /* margin-right: 1.5rem; */
  box-shadow: 0 0 2px #00000012, 0 2px 2px #0000000f, 0 1px 3px #0000001a;
  width: 349.333px !important;
}

.slider-content {
  width: 65%;
}

.slider-image img {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 1.5rem;
}

.price_btn h4 {
  margin-bottom: 0;
  color: #000;
  font-weight: bold;
}

.slider-heading h3 {
  text-align: left;
  margin-bottom: 6px;
}

.price_btn {
  margin-top: 10px;
}

.price_btn button {
  font-family: SoDoSans_Semibold, Helvetica, sans-serif;
  box-shadow: 0 4px 15px #a3a3a3ad;
  border: none;
}

.slider_para {
  font-size: 9px;
  color: #00000061;
  font-family: Pike_Regular, Helvetica, sans-serif !important;
  color: #6c757d !important;
}

.price_btn {
  width: 100%;
}


@media(max-width:516px) {
  .slider-grid {
    padding: 1em 1em 1.4em;
    width: 284px;
  }

  .slider-content {
    width: 53%;
  }

  .arrow {
    display: none;
  }
  .slider-grid{
    margin-bottom: 10px;
  }
}

@media(max-width:769px) {}



/* -------------------Barista Recommends section end------------------ */



/* -------------------A Starry Decade section star------------------ */

.silder_banner {
  height: auto;
  position: relative;
}

.arrow_left_1 {
  position: absolute;
  top: 40%;
  left: -2%;
}

.arrow_right_1 {
  position: absolute;
  top: 40%;
  right: -2%;
}

.inner_banner_slider {
  height: 35vh;
  margin: 3rem 0 0 0;
  border-radius: 8px;
  background-color: var(--main-background-color);
  position: relative;
}

.pos_img {
  width: 10%;
}

.pos_img img {
  width: 100%;
  height: 212px;
  object-fit: contain;
}

.banner_slider_content {
  flex-basis: 90%;
  padding-left: 2rem;
  padding-right: 1.5rem;
}

.top_content {
  position: absolute;
  top: 8px;
  right: 20px;
}

.top_content h4 {
  font-size: 10px;
  color: #fff;
}

.slider_content_banner {
  margin-bottom: 2.5rem;
}

.price_sec h4,
.slider_desc p,
.slider_text h2,
.slider_heading h4 {
  color: #fff;
  margin-bottom: 12px;
}

.slider_desc p {
  font-size: 12px;
}

.price_sec h4 {
  font-size: 16px;
  font-weight: bold;
}

.price_sec h5 {
  font-size: 12px;
  font-weight: bold;
}

.slider_banner_btn {
  width: 24%;
  height: 7vh;
  background-color: #fff;
  color: #000;
  font-weight: bold;

}


@media(max-width:516px) {
  .inner_banner_slider {
    height: 202px;
  }

  .price_sec h4,
  .slider_heading h4 {
    font-size: 12px;
  }

  .top_content {
    right: 6px;
  }

  .slider_text h2 {
    font-size: 18px;
  }

  .price_sec h5,
  .slider_desc p {
    font-size: 11px;
  }

  .slider_banner_btn {
    padding: 8px 20px !important;
    width: fit-content;
    height: auto;
    right: 24px !important;
  }

  .pos_img {
    width: auto;
  }

  .pos_img img {
    width: auto;
  }

  .banner_slider_content {
    flex-basis: 100%;
    padding-left: 0px;
    padding-right: 10px;
  }
}

@media(max-width:769px) {}



/* -------------------A Starry Decade section end------------------ */



/* -------------------Latest Offerings section star------------------ */

.offering_section {
  /* border: 1px solid red; */
  height: auto;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.offerning_main {
  box-shadow: 0 2px 4px #00000012, 0 4px 5px #0000000f, 0 1px 10px #0000001a;
  border-radius: 8px;
  cursor: pointer;
  flex-wrap: wrap;
  width: 32%;
  height: 360px;
  background-color: #f9f9f9;
  /* border: 1px solid red; */
  margin-right: 1.5rem;
}

.card_image img {
  width: 100%;
  height: 167px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: 1rem;
}

.card_btn,
.card_offer {
  width: 90%;
  margin: 0 auto;
}

.card_btn button {
  font-family: SoDoSans_Semibold, Helvetica, sans-serif;
  box-shadow: 0 4px 15px #a3a3a3ad;
  border: none;
}

.slider_short_para p {
  margin: 10px 0;
  /* color: #a0a0a0de; */
  font-size: 11px;
  font-weight: lighter;
  margin-bottom: 1.4rem;
  margin-top: 18px;
  /* border: 1px solid red; */
  font-family: Pike_Regular, Helvetica, sans-serif !important;
  color: #6c757d !important;
}


@media(max-width:516px) {
  .offerning_main {
    width: 86%;
    height: 380px;
  }
}

@media(max-width:769px) {}



/* -------------------Latest Offerings section end------------------ */



/* -------------------Coffee Beginning section start------------------ */


.width_section {
  width: 84%;
}

.coffee_banner {
  width: 98%;
  margin: 0 auto;
  height: auto;
  position: relative;
  /* border: 1px solid red; */
  margin-bottom: 3rem;
}

.coffe_img {
  height: 372px;
}

.coffe_img::after {
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(179deg, rgba(0, 0, 0, 0.2) 5%, rgba(0, 0, 0, 0.767) 73%);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
}

.coffe_img:hover::after {
  background-image: linear-gradient(179deg, rgba(0, 0, 0, 0.387) 5%, rgba(0, 0, 0, 0.767) 73%);
}

.coffe_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.culture_section h5 {
  position: absolute;
  top: 15px;
  left: 35px;
  color: var(--btn-color);
  font-size: 9px;
  background: var(--secondary-font-color);
  border-radius: 4px;
  padding: 4px;
  gap: 2px;
  letter-spacing: .06em;
}

.coffee_content {
  position: absolute;
  bottom: 10%;
  left: 35px;
  /* border: 1px solid red; */
  height: auto;
}

.coffee_content_heading h2 {
  color: #fff;
  font-weight: 500;
}

.descr p {
  color: #fff;
  margin-bottom: 3rem;
  font-weight: 14px;
}

.coffee_btn_ {
  background-color: var(--secondary-background-color);
  width: 200px;
  height: 32px;
  padding: 0;
  border-radius: 16px;
  color: #000;
}


@media(max-width:516px) {
  .width_section {
    width: 100%;
  }

  .coffee_content {
    position: absolute;
    bottom: 6%;
    left: 24px;
    /* border: 1px solid red; */
    width: 90%;
  }

  .culture_section h5 {
    left: 24px;
  }

}

@media(max-width:769px) {}



/* -------------------Coffee Beginning section end------------------ */




/* -------------------News section start------------------ */

.Blog_section_bg {
  /* border: 1px solid red; */
  padding-bottom: 1.5rem !important;
}

.Blog_section h3 {
  font-size: 18px;
  color: var(--primary-font-color);
  margin-bottom: 10px;
}

.blog_section {
  height: 18vh;
}

.Blog_para p {
  margin-top: 15px;
  font-size: 13px;
  font-weight: 100;
}

.blog_btn button {
  width: 120px;
  height: 32px;
}

.blog_img {
  position: relative;
}

.blog_img img {
  object-fit: fill;
}

.blog_img::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 1;
  width: 100%;
  height: 130px;
  z-index: 2;
  background: linear-gradient(180deg, rgba(249, 249, 249, 0) 9.9%, rgba(249, 249, 249, .697842) 46.35%, #F9F9F9 84.37%);
}

.view_more_tag {
  display: none;
}

@media(max-width:516px) {
  .Blog_section_bg {
    margin-bottom: 6rem;
  }

  .view_more_tag {
    height: auto;
    display: block;
    /* border: 1px solid red; */
    text-align: center;
  }

  .view_more_tag a {
    height: 32px;
    width: 120px;
    padding: 0;
    font-size: 14px;
    color: #fff;
    background-color: #000;
    padding: 8px 24px;
    font-size: 12px;
    border-radius: 30px;
  }
}

@media(max-width:769px) {}


/* -------------------News section end------------------ */


/* -------------------footer section start------------------ */


.footer_bg {
  background-color: #0e382c;
  height: auto;
  padding-bottom: 2rem !important;
}

.footer_wid {
  width: 82%;
}

.footer_section {
  border-bottom: 1px solid var(--secondary-font-color);
  padding-top: 4rem !important;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: 58vh;
}

.about_section h5 {
  font-size: 1.125em;
  color: var(--secondary-font-color);
  margin-bottom: 30px;
  /* font-family: SoDoSans_Semibold, Helvetica, sans-serif; */
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin-top: 0;
}

.about_section ul li {
  margin: 1.5rem 0;
}

.about_section ul li a {
  font-weight: 400;
  font-size: .875em;
  color: var(--secondary-font-color);
}

.about_section ul li a:hover {
  color: #a2a2a2;
}

.social_media {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.social_media li {
  margin: 0 !important;
  margin-right: 13px !important;
}

.download li {
  margin: 0 !important;
}

.bootom_footer {
  margin-top: 1.2rem;
  margin-bottom: 1.5rem;
}

.right_side ul li {
  display: inline-block;
  padding: 1px 20px;
  border-right: 1px solid var(--secondary-font-color);
}

.right_side ul li:nth-child(1) {
  padding: 1px 18px 1px 0;
}

.right_side ul li:nth-child(4) {
  border: none;
}

.bootom_footer p a,
.right_side ul li a {
  font-size: 11px;
  color: var(--secondary-font-color);
}

.right_side ul li a:hover,
.bootom_footer p a:hover {
  color: #a2a2a2;
}

@media(max-width:516px) {
  .footer_bg {
    display: none;
  }
}

@media(max-width:769px) {}


/* -------------------footer section end------------------ */


.slick-slider {
  width: 100%;
}

/* .slider-grid{
  width: 96% !important;
} */